bin/
target/
file/
log/
dic/.compiled
tmp/
gen-java/
.externalToolBuilders/
.settings/
.classpath
.project
.springBeans
.gradle/
dependency-reduced-pom.xml
.idea/
*.iml
nohup.out
maven.txt
src/main/resources/properties/local.properties
logs/
/target/
/build/
.gradletasknamecache
